@model Product
@{
   Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container">
        <hr />
        <div class="row mb-4">
            <div class="col-md-4">

                <h3>Ürün Ekleme</h3>
                <form asp-controller="Home" asp-action="Index" method="post" class="form-group">
            <table>
                <tr>
                    <td><label asp-for="ProductName">Ürün Adı</label></td>
                    <td><input asp-for="ProductName" class="form-control" />

                    </td>
                    <td><span asp-validation-for="ProductName" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Description">Ürün Adı</label></td>
                    <td><input asp-for="Description" value="" class="form-control" />
                        </td>
                    <td><span asp-validation-for="Description" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td>Kategori</td>
                    <td>
                        <select name="CategoryID" class="form-control">



                            @foreach (Category item in ViewBag.Categories)
                            {
                                <option value="@item.CategoryID">@item.CategoryName</option>

                            }
                        </select>
                    </td>
                    <td><input type="button" onclick="CategoryAdd()" value="Kategori Ekle" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Kaydet" class="btn btn-primary" /></td>
                    <td></td>
                </tr>

            </table>
        </form>

            

            </div>
            <div class="col-md-4">

                
                <form action="/Home/CategoryAdd" method="post" class="form-group" style="visibility:hidden" id="CategoryAddPanel">
                    <h3>Kategori Ekleme</h3>
                    <table>
                        <tr>
                            <td>Ürün Adı</td>
                            <td><input type="text" name="CategoryName" value="" class="form-control" /></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td><input type="submit" value="Kaydet" class="btn btn-primary" /></td>
                        </tr>

                    </table>
                </form>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-4">
                <ul class="list-group">
                    @foreach (Category item in ViewBag.Categories)
                    {
                        <li class="list-group-item">
                            <a href="@Url.Action("Index","Home",new { catID = item.CategoryID })"> @item.CategoryName</a>
                        </li>
                    }
                </ul>
            </div>

            <div class="col-md-8">
                <table class="table table-hover">
                    <tr>
                        <th>Ürün Adı</th>
                        <th>Açıklama</th>
                        <th></th>
                    </tr>
                    @foreach (Product item in ViewBag.Products)
                    {
                        <tr>
                            <td>
                                @item.ProductName
                            </td>
                            <td>
                                @item.Description
                            </td>
                            <td>
                                <a href="@Url.Action("Update","Home",new { productID=item.ProductID })" class="btn btn-info"> Güncelle </a>
                                <a class="btn btn-danger w-100 mt-1" href="@Url.Action("Delete","Home",new { productID = item.ProductID})"> Sil </a>
                            </td>
                        </tr>
                    }
                </table>


            </div>
        </div>
    </div>
    <script>
        function CategoryAdd() {
            document.getElementById("CategoryAddPanel").style.visibility = "visible";
        }
    </script>

